*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
     
}

html, body {
     overflow-x: hidden !important;
     width: 100%;
   }

.main-content{
     margin: 100px 5%;
     overflow-x: hidden;
    
}
