<div class="footer-content">
  <div class="footer-content__container">
    <app-navegation-itens
      [listTitle]="'PRODUTOS'"
      [listItems]="[
        'Calçados',
        'Tênis',
        'Roupas',
        'Acessórios',
        'Chuteiras',
        ' ',

        'Novidades',
        'OUTLET',
        'Black Friday',
        'Cyber Monday'
      ]"
      [isWithMargin]="true"
    >
    </app-navegation-itens>

    <app-navegation-itens
      [listTitle]="'COLEÇÕES'"
      [listItems]="[
        'Calçados',
        'Tênis',
        'Roupas',
        'Acessórios',
        'Chuteiras',
        'Novidades',
        'OUTLET',
        'Black Friday',
        'Cyber Monday'
      ]"
      [isWithMargin]="true"
    >
    </app-navegation-itens>

    <app-navegation-itens
      [listTitle]="'ESPORTES'"
      [listItems]="['Futebol', 'Corrida', 'Basquete', 'Training']"
      [isWithMargin]="true"
    >
    </app-navegation-itens>

    <app-navegation-itens
      [listTitle]="'SUPORTE'"
      [listItems]="[
        'Podemos Ajudar?',
        'Atendimento ao Cliente',
        'Dúvidas Frequentes',
        'Como Comprar',
        'Entregas e Frete',
        'Opções de Pagamento',
        'Troca e Devolução'
      ]"
      [isWithMargin]="true"
    >
    </app-navegation-itens>

    <app-navegation-itens
      [listTitle]="'INFORMAÇÃO CORPORATIVA'"
      [listItems]="['Sobre Nós', 'Imprensa']"
      [isWithMargin]="true"
    >
    </app-navegation-itens>

    <div class="footer-content__container__social-icons">
      <h5>Redes</h5>

      <img
        src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wfacebook_image_footer_tcm217_875964_307e7730ff.png"
        alt=""
      />
      <img
        src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Winstagram_logo_footer_tcm209_875968_e40414a503.png"
        alt=""
      />
      <img
        src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NEW_Black_icon_Twitter_logo_transparent_PNG_tcm217_875966_0b2a89f2cf.png"
        alt=""
      />
      <img
        src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wtiktok_black_share_icon1189_tcm217_875969_a2d6207dfa.png"
        alt=""
      />
      <img
        src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wyoutube_icon_footer_tcm217_875967_85d1e76b8a.png"
        alt=""
      />
    </div>
  </div>

  <!-- Só é habilitada para dispositivo moveis -->
  <div class="footer-content__mobile">
    <div class="list-content">
      <h5>PRODUTOS</h5>
    </div>

    <div class="list-content">
      <h5>COLEÇÕES</h5>
    </div>

    <div class="list-content">
      <h5>ESPORTES</h5>
    </div>

    <div class="list-content">
      <h5>SUPORTE</h5>
    </div>

    <div class="list-content">
      <h5>INFORMAÇÃO CORPORATIVA</h5>
    </div>

    <div class="collum-social-icons">
      <h5>REDES</h5>
      <ul class="list-content">
        <li>
          <img
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wfacebook_image_footer_tcm217_875964_307e7730ff.png"
            alt=""
          />
        </li>
        <li>
          <img
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Winstagram_logo_footer_tcm209_875968_e40414a503.png"
            alt=""
          />
        </li>
        <li>
          <img
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NEW_Black_icon_Twitter_logo_transparent_PNG_tcm217_875966_0b2a89f2cf.png"
            alt=""
          />
        </li>
        <li>
          <img
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wtiktok_black_share_icon1189_tcm217_875969_a2d6207dfa.png"
            alt=""
          />
        </li>

        <li>
          <img
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wyoutube_icon_footer_tcm217_875967_85d1e76b8a.png"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-content__company-details">
    <ul class="footer-content__company-details__company-list">
      <!-- <app-navegation-itens
        [listItems]="[
          'Configuração de cookies │',
          'Requisições de dados pessoais │',
          'Termos e Condições de Navegação │',
          'Dúvidas Frequentes │',
          'Política de Privacidade'
        ]"
        [isLightTheme]="true"
        [isDisplayDirection]="true"
      >
      </app-navegation-itens> -->
      <li>Configuração de cookies │</li>
      <li>Requisições de dados pessoais │</li>
      <li>Termos e Condições de Navegação │</li>
      <li>Dúvidas Frequentes │</li>
      <li>Política de Privacidade</li>
    </ul>

    <div class="footer-content__company-info">
      <span class="footer-content__company-info__company-text">
        Tech Solutions LTDA - CNPJ/MF nº 12.345.678/0001-99 - Inscrição Estadual
        123.456.789.012 Endereço: Avenida Inovação nº 500, Sala 10, Bairro
        Centro Tecnológico, Município de São Paulo - SP, <br />
        CEP 01010-010 | Clique na opção “Atendimento ao cliente” no menu acima e
        veja nossos canais de atendimento | 0800 123 4567 ou (11) 98765-4321
      </span>
    </div>
  </div>
</div>
