<app-header />
<div class="main-content">
  <app-main-visual></app-main-visual>
  <div class="wrapper">
     <app-featured-item
    imgSrc="https://imgnike-a.akamaihd.net/branding/home-sbf/touts/copy-pegasus-premium-desk.jpg"
    imgAlt="Tênis Nike Pegasus"
    btn1Label="Ver Feminino"
    btn1Href="https://example.com/feminino"
    btn2Label="Ver Masculino"
    btn2Href="https://example.com/masculino"
  ></app-featured-item>
  </div>

 <app-video-player
    src="https://imgnike-a.akamaihd.net/branding/home-sbf/touts/video-pegasus-premium-v2-desk.mp4"
    [disableControls]="true"
  ></app-video-player>
  <!-- <app-product-video></app-product-video> -->
  <app-popular-itens></app-popular-itens>
  
  
  <app-video-player
    src="https://brand.assets.adidas.com/video/upload/f_auto:video,q_auto/if_w_gt_1920,w_1920/global_mercedes_motorsport_ss25_launch_catlp_banner_hero_animated_d_b670566a59.mp4"
    [disableControls]="true"
    overlayImage="https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/global_mercedes_motorsport_ss25_launch_onsite_logo_e3b413523d.png"
    title="Edição Especial Mercedes-Benz"
    description="THE RACE BEGINS PETRONAS"
  ></app-video-player>

  <app-you-may-like />
  <app-deal-spot />
  
  
  
  <app-promo-highlight
    [imageUrl]="
      'https://quiksilver.vtexassets.com/assets/vtex.file-manager-graphql/images/d6733a30-45c1-402c-b3df-d3b8d55988e9___678bb30a7c2e70e8792281dc45608e83.jpg'
    "
  ></app-promo-highlight>
  <app-carousel />
  

  <app-promo-highlight
    [imageUrl]="
      'https://rvca.vtexassets.com/assets/vtex.file-manager-graphql/images/8c630cef-8498-445c-afd3-66dd4f01852f___d904ce825f734a90bf8758bd919ea8cd.png'
    "
  ></app-promo-highlight>
</div>
