<section
  aria-labelledby="recover-password-title"
  class="recover-password-section"
  *ngIf="ActiveStep === 1"
 
>
<app-back-button></app-back-button>
  <header>
    <h2 id="recover-password-title">Recuperar senha</h2>
    <p>Informe seu e-mail para receber o link de verificação da conta.</p>
  </header>

  <form
    class="recover-password-form"
    #recoverForm="ngForm"
    (ngSubmit)="enviarRecuperacao(recoverForm)"
  >
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input
        type="email"
        name="email"
        matInput
        ngModel
        #emailControl="ngModel"
        required
        appEmailValidator
      />
      <mat-error *ngIf="emailControl.hasError('required')"
        >O Email é <strong>obrigatório</strong>.</mat-error
      >
      <mat-error
        *ngIf="
          emailControl.hasError('invalidEmail') &&
          !emailControl.hasError('required')
        "
        >O Email está <strong>fora do padrão</strong>.</mat-error
      >
    </mat-form-field>
    <button type="submit" [disabled]="recoverForm.invalid">Verificar</button>
  </form>
</section>


<div *ngIf="ActiveStep === 2" class="content-verify-code">
  <h2>Digite o código de verificação</h2>
  <form
     #CodeForm="ngForm"
    (ngSubmit)="validCode(CodeForm)" 
  >
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Código</mat-label>
    <input
      matInput
      maxlength="13"
      name="code"
      ngModel
      />
  </mat-form-field>
  <div class="content-verify-code__action">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button class="confirm" type="submit" mat-raised-button color="primary" >
      Confirmar
    </button>
  </div>
</form>
</div>



<section
  aria-labelledby="recover-password-title"
  class="recover-password-section"
  *ngIf="ActiveStep === 3"

>
<app-back-button></app-back-button>
  <header>
    <h2 id="recover-password-title">Nova senha</h2>
    <p>Certifique-se de que ambas as senhas são iguais.</p>
  </header>

  <form
    class="recover-password-form"
    #recoverForm="ngForm"
    (ngSubmit)="newPassword(recoverForm)"
  >
    <mat-form-field>
      <mat-label>Senha:</mat-label>
      <input
        type="password"
        name="password"
        matInput
        ngModel
        #passwordControl="ngModel"
        required
        appPasswordValidator
      />
      <mat-error *ngIf="passwordControl.hasError('required')"
        >A Senha é <strong>obrigatório</strong>.</mat-error
      >
      <mat-error
        *ngIf="
          passwordControl.hasError('invalidPasswordStrength') &&
          !passwordControl.hasError('required')
        "
        >A Senha está <strong>fora do padrão</strong>.</mat-error
      >
    </mat-form-field>

     <mat-form-field>
      <mat-label>Confirmar Senha</mat-label>
      <input
        type="password"
        name="confirmPassword"
        matInput
        ngModel
        #confirmPasswordControl="ngModel"
        required
        appPasswordValidator
        [appMatchPasswordValidator]="passwordControl"
      />
      <mat-error *ngIf="confirmPasswordControl.hasError('required')"
        >A Senha é <strong>obrigatório</strong>.</mat-error
      >
      <mat-error
        *ngIf="
          confirmPasswordControl.hasError('invalidPasswordStrength') &&
          !confirmPasswordControl.hasError('required')
        "
        >A Senha está <strong>fora do padrão</strong>.</mat-error
         
      >
      <mat-error *ngIf="confirmPasswordControl.hasError('notMatching')">
    As senhas <strong>não coincidem</strong>.
   </mat-error>
    </mat-form-field>
    <button type="submit" [disabled]="recoverForm.invalid">Confirmar</button>
  </form>
</section>