.main-visual-content {
  width: 100%;
  height: 100vh;
  margin-bottom: 50px;

  position: absolute;
  left: 0;

  overflow-x: hidden;

  .slide-wrapper {
     position: relative;
     height: 85vh;
     overflow: hidden;
     cursor: pointer;

    .slide-image {
      width: 100%;

      height: 85vh;

      // &:hover{
      //   filter: ;
      // }
    }

    .overlay-content {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-bottom: 20px;
      transform: translate(-50%, -50%);
      text-align: center;
      color: rgb(250, 250, 250);
      transition: opacity 0.3s ease;
      z-index: 999;
      opacity: 0;

      h2 {
        margin-bottom: 20px;
        font-size: 18px;
      }

      .overlay-button {
        color: #ffffff;
        border: 1px solid white;
        padding: 7px 20px;
        margin-top: 30px;
        text-decoration: none;
      }
    }

      &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); // Começa transparente
    transition: background-color 0.3s ease;
    z-index: 1;
  }

 &:hover::before {
    background-color: rgba(0, 0, 0, 0.315); // Sombra bem leve ao passar o mouse
  }


      &:hover .overlay-content {
        opacity: 1;
      }

      // &:hover .slide-image {
      //   background-color: #000000;
      //   opacity: 0.4;
      // }


  }
}
