.app-navegation-itens__container {
  
  li {
    list-style: none;

    a {
      color: inherit;
      text-decoration: none;
      font: 12px Helvetica, sans-serif;
    }
  }

  &.light-theme {
    color: #ffffff; /* Texto branco no modo claro */
  }

  &.display-direction {
     display: flex;
     justify-content: space-around;
  }

  &.with-margin{
    h5 {
      margin: 10px 0;
    }
  
    /* Corrigindo o espaçamento dos links */
    li {
      margin-bottom: 15px; /* Espaço entre os itens */
    }
  
    li:last-child {
      margin-bottom: 0; /* Remove margem do último item */
    }
  
    li a {
      display: inline-block; 
     
      
    }
  }
}
