<form  class="auth-form" #meuForm="ngForm" (ngSubmit)="enviarLogin(meuForm)">
     <mat-form-field class="email-field">
         <!-- [errorStateMatcher]="matcher" -->
         <mat-label>Email:</mat-label>
         <input 
             type="email"
             name="email"
             matInput
             ngModel
             #emailControl="ngModel"
             autocomplete="email"
             appEmailValidator
             required
         />
         <mat-error *ngIf="emailControl.hasError('required')">O Email é <strong>obrigatório</strong>.</mat-error>
         <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">O Email está <strong>fora do padrão</strong>.</mat-error>
     </mat-form-field>
 
     <mat-form-field class="password-field">
          <!-- [errorStateMatcher]="matcher" -->
          <mat-label>Senha:</mat-label>
          <input 
              type="password"
              name="senha"
              autocomplete="password"
              matInput
              ngModel
              (ngModelChange)="onPasswordChange($event)"
              #passwordControl="ngModel"
              appPasswordValidator
              required
          />
          
          <mat-error *ngIf="passwordControl.hasError('required')">A Senha é <strong>obrigatória</strong>.</mat-error>
          <mat-error *ngIf="passwordControl.hasError('invalidPasswordStrength') && !passwordControl.hasError('required')">Senha <strong>fora do padrão</strong>.</mat-error>
          
          <!-- <mat-progress-bar [value]="passwordStrengthValue" [ngClass]="{
            'weak-password': passwordStrengthValue === 0 || passwordStrengthValue === 30,
            'medium-password': passwordStrengthValue === 60,
            'strong-password': passwordStrengthValue === 100
       }"></mat-progress-bar> -->
      </mat-form-field> 
      <div class="forgot-password">
          <span><a (click)="recoverPassword()">Esqueceu sua senha?</a></span>
      </div>

     <div class="btn-submit">
         <button type="submit" [disabled]="meuForm.invalid">Entrar</button>
     </div>
 </form>